@import '../../../styles/mixins';
@import '../../../styles/variables';

.login-container {
    @include card-style;
    max-width: 400px;
    margin: 50px auto;
  
    h2 {
      text-align: center;
      color: $primary-color;
    }
  
    form {
      display: flex;
      flex-direction: column;
  
      mat-form-field {
        width: 100%;
        margin-bottom: 15px;
      }
  
      button {
        width: 100%;
        background-color: $primary-color;
        color: white;
        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }
  }
  